<div class="container">
    <div class="starter-template">
        <h1>Wait and Eat</h1>

        <p class="lead">The smart restaurant waiting list</p>
        <button type="button" class="btn btn-primary btn-lg">Get started now!</button>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Ditch the clipboard</h2>

            <p>Use our simple app to manage your waiting list from your PC, tablet, or phone.</p>
        </div>
        <div class="col-md-4">
            <h2>Get your voice back</h2>

            <p>No need to yell every 5 minutes. You can text a party with just a tap.</p>
        </div>
        <div class="col-md-4">
            <h2>Customers will love you</h2>

            <p>Now they can go to the bathroom and still know their table is ready.</p>
        </div>
    </div>
</div>