<form ng-submit="saveParty()" class="form-inline party-form" role="form" action="">
    <div class="form-group">
        <label class="sr-only" for="partyName">Party Name</label>
        <input ng-model="newParty.name" class="form-control" id="partyName" placeholder="Name" type="text"/>
    </div>
    <div class="form-group">
        <label class="sr-only" for="phoneNumber">Phone Number</label>
        <input ng-model="newParty.phone" class="form-control" id="phoneNumber" placeholder="Phone" type="text"/>
    </div>
    <div class="form-group">
        <label class="sr-only" for="sizeOfParty">Size of Party</label>
        <input ng-model="newParty.size" class="form-control" id="sizeOfParty" placeholder="Size of Party" type="text"/>
    </div>
    <button type="submit" class="btn btn-primary">Add Party</button>
</form>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Done?</th>
        <th>Info</th>
        <th>Notified?</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tr ng-repeat="party in parties | orderByPriority">
        <td><input type="checkbox" ng-model="party.done" ng-change="parties.$save(party.$id)"/></td>
        <td>
            <div>
                <strong>{{ party.name }} ({{ party.size }} people)</strong>
            </div>
            <div>{{ party.phone }}</div>
            <!--TODO: Add date created-->
            <div></div>
        </td>
        <td>
            <div>{{ party.notified }}</div>
        </td>
        <td>
            <!-- TODO: incomplete Send SMS feature -->
            <button ng-click="sendTextMessage(party)" type="submit" class="btn btn-success">Send SMS</button>
            <button ng-click="parties.$remove(party.$id)" type="submit" class="btn btn-danger">Remove</button>
        </td>
    </tr>
</table>